body {	 background-color: #000000;
  	background-image: url("https://png.pngtree.com/background/20210714/original/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-picture-image_1250295.jpg");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size:cover;
 
}