<form action="/success.html" id="form1">
  <label for="pro_type">Provision Type:</label>
  <input type="text" id="pro_type" name="pro_type"><br><br>
  <label for="reg_date">Registration date:</label>
  <input type="date" id="reg_date" name="reg_date"><br><br>
  <label for="reg_status">Registration Status:</label>
  <input type="text" id="reg_status" name="reg_status"><br><br>
  <label for="gov_region">Govt Region:</label>
  <input type="text" id="gov_region" name="gov_region"><br><br>
  <label for="loc_authority">Local Authority:</label>
  <input type="text" id="loc_authority" name="loc_authority"><br><br>
  <label for="sector">Sector:</label>
  <input type="text" id="sector" name="sector"><br><br>
  <label for="org_owner">Organisation owner:</label>
  <input type="text" id="org_owner" name="org_owner"><br><br>
  <label for="event_type">Event type:</label>
  <input type="text" id="event_type" name="event_type"><br><br>
  <label for="insp_date">Inspection date:</label>
  <input type="date" id="insp_date" name="insp_date"><br><br>
  <label for="publ_date">Published date:</label>
  <input type="date" id="publ_date" name="publ_date"><br><br>
  <label for="event_num">Event number:</label>
  <input type="number" id="event_num" name="event_num"><br><br>
  <label for="ovrall_exp">Overall experiance:</label>
  <input type="text" id="ovrall_exp" name="ovrall_exp"><br><br>
  <label for="help_eff">Help & Care Efficiency:</label>
  <input type="text" id="help_eff" name="help_eff"><br><br>
  <label for="ovrall_eff">Overall experiance:</label>
  <input type="text" id="ovrall_eff" name="ovrall_eff"><br><br>
  <input type="submit" value="Submit">
</form>
