<HEAD>
<style>
h1{
text-align:center; 
}
.column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
</style>
</HEAD>
<BODY>
<h1>Click  on a region to view data</h1>
<div class="column" >
    <form action="/location.html" id="form2">
    <select id="gov_region" name="gov_region">
    <option value="east_mid">East Midlands</option>
    <option value="east_eng">East of England</option>
    <option value="london">London</option>
    <option value="north_east">North East</option>
    <option value="north_west">North West</option>
    <option value="south_east">South East</option>
    <option value="south_west">South West</option>
    <option value="west_mid">West Midlands</option>
    <option value="york_humb">Yorkshire and The Humber</option>
    </select><br><br>
    <input type="submit" value="Submit">
     </form>
  </div>
  <div class="column" >
    <form action="/form.html" id="form3">
      <button type="submit"> Click to add new data</button>
    </form>
  </div>
</table>
