<div class="topnav">
  <a href="/index.html">Home</a>
</div> 
<h2>Location data:</h2>
<table style="width:100%" border="1">
  <tr>
    <th>Provision Type</th>
    <th>Registration Date</th>
    <th>Registration Status</th>
    <th>Govt Region</th>
    <th>Local Authority</th>
    <th>Constituency</th>
    <th>Sector</th>
    <th>Organisation Owner</th>
    <th>Event Number</th>
  </tr>
  
  {% for row in rows %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
            <td>
      <form action="/inspection.html" method="GET">
      <button type="submit" name="event_num" value="{{row[8]}}" >{{row[8]}}</button>
    </form>
            </td>
        </tr>
   
    {% endfor %}

</table>