Inspection data: 
    {% for row in rows %}
    <p>
       {{row[0]}} | 
       {{row[1]}} | 
        {{ row[2]}} | 
       {{row[3]}}	| 
       {{row[4]}} |
        {{ row[5]}} |
       {{row[6]}}	
    </p>
    {% endfor %}

<tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>

East Midlands
East of England
London
North East
North West
South East
South West
West Midlands
Yorkshire and The Humber

<form method="POST">
        <button type="submit" name="button" value="{{ button_text }}">{{ button_text }}</button>
    </form>

 query = "INSERT INTO users (username, password) VALUES (?, ?)"
    cursor.execute(query, (username, password))

# Project Name

A brief description of the project.

## Installation

Instructions for installing the project.

## Usage

Instructions for using the project.

## Contributing

Guidelines for contributing to the project.

## License

The license under which the project is distributed.Chang